.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 400px;
}

.bean{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
}

.bart{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 600px;
}

.beep{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 400px;
  left: 400px;
}

.button1{
  position: absolute;
  left: 0px;
}

.button2{
  position: absolute;
  left: 20px;
}